@page "/"
@using NotesApp.Application.Notes.Queries.Search
@rendermode InteractiveServer
@attribute [StreamRendering]

@inject ISender Mediator

<PageTitle>Notes Page</PageTitle>

<h1>Notes Page</h1>

<p>This component demonstrates showing data.</p>

@foreach (var note in Notes)
{
    <hi>@note.Title</hi>
    <p>@note.Content</p>
                    <br/>
}

@code
{
    protected List<NoteDTO> Notes = new();

    protected override async Task OnInitializedAsync()
    {
        var result = await Mediator.Send(new SearchNoteQuery());

        if (result.IsSuccess)
            Notes = result.Value.ToList();
    }
}
